## Assignment 1 - Extra Credit

### Test whether a gaussian model N($\mu$, $\sigma$) for the age distribution of citibike drivers is a sensible model, or if you can find a better fit with another distribution.

- Use 2 tests: KS, AD, KL, chisq (even though we have not talked about it in detail yet) to do this.

- Test at the Normal and a least one other distributions (e.g. Poisson, or Binomial, or Chisq, Lognormal.......)

Extra credit: Divide your sample geographically: by Borrow + split Manhattan in an Uptown and a Downtown sample (use your discretion to do so, but ZIP code is a good idea) and see if you notice any differences in how the age distribution can be modeled.

### I made this code on local computer as urllib dont work on compute environment. I also developed this notebook using python 3

In [1]:
import pylab as pl
import pandas as pd
import numpy as np
import os
import scipy.stats
import json
import urllib.request as ulr

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [1]:
datestring = '201503'

In [28]:
df = pd.read_csv(datestring + '-citibike-tripdata.csv')
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,669,3/1/2015 0:00,3/1/2015 0:11,164,E 47 St & 2 Ave,40.753231,-73.970325,477,W 41 St & 8 Ave,40.756405,-73.990026,21409,Subscriber,1987.0,1
1,750,3/1/2015 0:01,3/1/2015 0:14,258,DeKalb Ave & Vanderbilt Ave,40.689407,-73.968855,436,Hancock St & Bedford Ave,40.682166,-73.953990,19397,Subscriber,1968.0,1
2,663,3/1/2015 0:01,3/1/2015 0:12,497,E 17 St & Broadway,40.737050,-73.990093,477,W 41 St & 8 Ave,40.756405,-73.990026,20998,Customer,NaN,0
3,480,3/1/2015 0:02,3/1/2015 0:10,470,W 20 St & 8 Ave,40.743453,-74.000040,491,E 24 St & Park Ave S,40.740964,-73.986022,21565,Subscriber,1983.0,1
4,1258,3/1/2015 0:02,3/1/2015 0:23,345,W 13 St & 6 Ave,40.736494,-73.997044,473,Rivington St & Chrystie St,40.721101,-73.991925,14693,Subscriber,1970.0,1

In [29]:
# df is the dataframe where the content of the csv file is stored
df['date'] = pd.to_datetime(df['starttime'])
# note that with dataframes I can refer to variables as dictionary keys, 
# i.e. df['starttime'] or as attributes: df.starttime. 
df.head(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date
0,669,3/1/2015 0:00,3/1/2015 0:11,164,E 47 St & 2 Ave,40.753231,-73.970325,477,W 41 St & 8 Ave,40.756405,-73.990026,21409,Subscriber,1987.0,1,2015-03-01 00:00:00
1,750,3/1/2015 0:01,3/1/2015 0:14,258,DeKalb Ave & Vanderbilt Ave,40.689407,-73.968855,436,Hancock St & Bedford Ave,40.682166,-73.953990,19397,Subscriber,1968.0,1,2015-03-01 00:01:00
2,663,3/1/2015 0:01,3/1/2015 0:12,497,E 17 St & Broadway,40.737050,-73.990093,477,W 41 St & 8 Ave,40.756405,-73.990026,20998,Customer,NaN,0,2015-03-01 00:01:00

In [30]:
df.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender', 'date'],
      dtype='object')

In [31]:
#df is the dataframe where the content of the csv file is stored
df['age'] = 2015 - df['birth year'][(df['usertype'] == 'Subscriber')]
df['ageM'] = 2015 - df['birth year'][(df['usertype'] == 'Subscriber') & (df['gender'] == 1)]
df['ageF'] = 2015 - df['birth year'][(df['usertype'] == 'Subscriber') & (df['gender'] == 2)]

In [32]:
# dropping NaN values
df['age'].dropna(inplace= True)
df['ageM'].dropna(inplace= True)
df['ageF'].dropna(inplace= True)

In [69]:
df.head(3)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,age,ageM,ageF
0,669,3/1/2015 0:00,3/1/2015 0:11,164,E 47 St & 2 Ave,40.753231,-73.970325,477,W 41 St & 8 Ave,40.756405,-73.990026,21409,Subscriber,1987.0,1,2015-03-01 00:00:00,28.0,28.0,NaN
1,750,3/1/2015 0:01,3/1/2015 0:14,258,DeKalb Ave & Vanderbilt Ave,40.689407,-73.968855,436,Hancock St & Bedford Ave,40.682166,-73.953990,19397,Subscriber,1968.0,1,2015-03-01 00:01:00,47.0,47.0,NaN
2,663,3/1/2015 0:01,3/1/2015 0:12,497,E 17 St & Broadway,40.737050,-73.990093,477,W 41 St & 8 Ave,40.756405,-73.990026,20998,Customer,NaN,0,2015-03-01 00:01:00,NaN,NaN,NaN

In [34]:
import urllib.request as ulr

In [55]:
    url = 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + str(df['start station latitude'][0]) + ',' \
    + str(df['start station longitude'][0]) + '&key=AIzaSyAW3x05Zr8JEQBRqnnXaB3G27RQSfy0Bk4'

In [56]:
url

'https://maps.googleapis.com/maps/api/geocode/json?latlng=40.75323098,-73.97032517&key=AIzaSyAW3x05Zr8JEQBRqnnXaB3G27RQSfy0Bk4'

In [77]:
borough = []

In [78]:
borough

[]

In [79]:
for i in range(0, len(df)):
    url = 'https://maps.googleapis.com/maps/api/geocode/json?latlng=' + str(df['start station latitude'][i]) + ',' \
    + str(df['start station longitude'][i]) + '&key=AIzaSyAW3x05Zr8JEQBRqnnXaB3G27RQSfy0Bk4'
    response = ulr.urlopen(url)
    data = response.read().decode("utf-8")
    data = json.loads(data)
    borough.append(data['results'][0]['address_components'][3]['long_name'])

IndexError: list index out of range

In [80]:
borough

['Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Kings County',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Kings County',
 'Manhattan',
 'Manhattan',
 'Kings County',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Kings County',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Kings County',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Kings County',
 'Kings County',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Kings County',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Midtown',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Brooklyn',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Midtown',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Kings County',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Kings County',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Brooklyn',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Kings County',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'New York',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Kings County',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Kings County',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Midtown',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Midtown',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Kings County',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Midtown',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'New York',
 'New York',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Kings County',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Midtown',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'New York',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'New York',
 'Manhattan',
 'Midtown',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'New York',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Brooklyn',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 'Manhattan',
 ...]

In [83]:
df['borough'] = pd.DataFrame(borough)

In [85]:
df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date,age,ageM,ageF,borough
0,669,3/1/2015 0:00,3/1/2015 0:11,164,E 47 St & 2 Ave,40.753231,-73.970325,477,W 41 St & 8 Ave,40.756405,-73.990026,21409,Subscriber,1987.0,1,2015-03-01 00:00:00,28.0,28.0,NaN,Manhattan
1,750,3/1/2015 0:01,3/1/2015 0:14,258,DeKalb Ave & Vanderbilt Ave,40.689407,-73.968855,436,Hancock St & Bedford Ave,40.682166,-73.953990,19397,Subscriber,1968.0,1,2015-03-01 00:01:00,47.0,47.0,NaN,Brooklyn
2,663,3/1/2015 0:01,3/1/2015 0:12,497,E 17 St & Broadway,40.737050,-73.990093,477,W 41 St & 8 Ave,40.756405,-73.990026,20998,Customer,NaN,0,2015-03-01 00:01:00,NaN,NaN,NaN,Manhattan
3,480,3/1/2015 0:02,3/1/2015 0:10,470,W 20 St & 8 Ave,40.743453,-74.000040,491,E 24 St & Park Ave S,40.740964,-73.986022,21565,Subscriber,1983.0,1,2015-03-01 00:02:00,32.0,32.0,NaN,Manhattan
4,1258,3/1/2015 0:02,3/1/2015 0:23,345,W 13 St & 6 Ave,40.736494,-73.997044,473,Rivington St & Chrystie St,40.721101,-73.991925,14693,Subscriber,1970.0,1,2015-03-01 00:02:00,45.0,45.0,NaN,Manhattan
5,363,3/1/2015 0:03,3/1/2015 0:09,380,W 4 St & 7 Ave S,40.734011,-74.002939,382,University Pl & E 14 St,40.734927,-73.992005,21435,Subscriber,1983.0,1,2015-03-01 00:03:00,32.0,32.0,NaN,Manhattan
6,187,3/1/2015 0:04,3/1/2015 0:07,470,W 20 St & 8 Ave,40.743453,-74.000040,462,W 22 St & 10 Ave,40.746920,-74.004519,16666,Subscriber,1966.0,1,2015-03-01 00:04:00,49.0,49.0,NaN,Manhattan
7,501,3/1/2015 0:04,3/1/2015 0:13,168,W 18 St & 6 Ave,40.739713,-73.994564,504,1 Ave & E 15 St,40.732219,-73.981656,20997,Subscriber,1951.0,2,2015-03-01 00:04:00,64.0,NaN,64.0,Manhattan
8,606,3/1/2015 0:05,3/1/2015 0:15,345,W 13 St & 6 Ave,40.736494,-73.997044,317,E 6 St & Avenue B,40.724537,-73.981854,20000,Subscriber,1993.0,2,2015-03-01 00:05:00,22.0,NaN,22.0,Manhattan
9,1488,3/1/2015 0:05,3/1/2015 0:30,499,Broadway & W 60 St,40.769155,-73.981918,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,20955,Subscriber,1964.0,1,2015-03-01 00:05:00,51.0,51.0,NaN,Manhattan
10,1303,3/1/2015 0:05,3/1/2015 0:27,2017,E 43 St & 2 Ave,40.750224,-73.971214,312,Allen St & E Houston St,40.722055,-73.989111,19741,Subscriber,1973.0,1,2015-03-01 00:05:00,42.0,42.0,NaN,Manhattan
11,400,3/1/2015 0:06,3/1/2015 0:13,173,Broadway & W 49 St,40.760647,-73.984427,499,Broadway & W 60 St,40.769155,-73.981918,16701,Subscriber,1961.0,1,2015-03-01 00:06:00,54.0,54.0,NaN,Manhattan
12,504,3/1/2015 0:06,3/1/2015 0:14,507,E 25 St & 2 Ave,40.739126,-73.979738,394,E 9 St & Avenue C,40.725213,-73.977688,18502,Subscriber,1977.0,1,2015-03-01 00:06:00,38.0,38.0,NaN,Manhattan
13,522,3/1/2015 0:09,3/1/2015 0:17,247,Perry St & Bleecker St,40.735354,-74.004831,251,Mott St & Prince St,40.723180,-73.994800,16277,Subscriber,1968.0,1,2015-03-01 00:09:00,47.0,47.0,NaN,Manhattan
14,913,3/1/2015 0:09,3/1/2015 0:24,368,Carmine St & 6 Ave,40.730386,-74.002150,307,Canal St & Rutgers St,40.714275,-73.989900,15926,Subscriber,1982.0,2,2015-03-01 00:09:00,33.0,NaN,33.0,Manhattan
15,516,3/1/2015 0:10,3/1/2015 0:19,229,Great Jones St,40.727434,-73.993790,116,W 17 St & 8 Ave,40.741776,-74.001497,16066,Subscriber,1974.0,1,2015-03-01 00:10:00,41.0,41.0,NaN,Manhattan
16,335,3/1/2015 0:10,3/1/2015 0:16,168,W 18 St & 6 Ave,40.739713,-73.994564,382,University Pl & E 14 St,40.734927,-73.992005,15139,Subscriber,1990.0,1,2015-03-01 00:10:00,25.0,25.0,NaN,Manhattan
17,209,3/1/2015 0:10,3/1/2015 0:14,383,Greenwich Ave & Charles St,40.735238,-74.000271,116,W 17 St & 8 Ave,40.741776,-74.001497,17728,Subscriber,1963.0,1,2015-03-01 00:10:00,52.0,52.0,NaN,Manhattan
18,764,3/1/2015 0:11,3/1/2015 0:23,369,Washington Pl & 6 Ave,40.732241,-74.000264,488,W 39 St & 9 Ave,40.756458,-73.993722,17979,Subscriber,1968.0,1,2015-03-01 00:11:00,47.0,47.0,NaN,Manhattan
19,671,3/1/2015 0:12,3/1/2015 0:23,161,LaGuardia Pl & W 3 St,40.729170,-73.998102,394,E 9 St & Avenue C,40.725213,-73.977688,21193,Subscriber,1990.0,1,2015-03-01 00:12:00,25.0,25.0,NaN,Manhattan
20,411,3/1/2015 0:12,3/1/2015 0:19,450,W 49 St & 8 Ave,40.762272,-73.987882,137,E 56 St & Madison Ave,40.761628,-73.972924,19271,Subscriber,1990.0,1,2015-03-01 00:12:00,25.0,25.0,NaN,New York
21,740,3/1/2015 0:13,3/1/2015 0:25,402,Broadway & E 22 St,40.740343,-73.989551,326,E 11 St & 1 Ave,40.729538,-73.984267,16240,Subscriber,1965.0,2,2015-03-01 00:13:00,50.0,NaN,50.0,Manhattan
22,288,3/1/2015 0:13,3/1/2015 0:18,151,Cleveland Pl & Spring St,40.721816,-73.997203,375,Mercer St & Bleecker St,40.726795,-73.996951,21225,Subscriber,1970.0,1,2015-03-01 00:13:00,45.0,45.0,NaN,Manhattan
23,553,3/1/2015 0:14,3/1/2015 0:23,375,Mercer St & Bleecker St,40.726795,-73.996951,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,15316,Subscriber,1971.0,1,2015-03-01 00:14:00,44.0,44.0,NaN,Manhattan
24,464,3/1/2015 0:14,3/1/2015 0:22,174,E 25 St & 1 Ave,40.738177,-73.977387,511,E 14 St & Avenue B,40.729387,-73.977724,15093,Subscriber,1987.0,1,2015-03-01 00:14:00,28.0,28.0,NaN,Manhattan
25,893,3/1/2015 0:15,3/1/2015 0:30,347,W Houston St & Hudson St,40.728739,-74.007488,531,Forsyth St & Broome St,40.718939,-73.992663,16522,Subscriber,1993.0,1,2015-03-01 00:15:00,22.0,22.0,NaN,Manhattan
26,307,3/1/2015 0:15,3/1/2015 0:21,285,Broadway & E 14 St,40.734546,-73.990741,504,1 Ave & E 15 St,40.732219,-73.981656,16867,Subscriber,1989.0,2,2015-03-01 00:15:00,26.0,NaN,26.0,Manhattan
27,673,3/1/2015 0:16,3/1/2015 0:27,394,E 9 St & Avenue C,40.725213,-73.977688,331,Pike St & Monroe St,40.711731,-73.991930,18690,Subscriber,1990.0,1,2015-03-01 00:16:00,25.0,25.0,NaN,Manhattan
28,292,3/1/2015 0:16,3/1/2015 0:21,472,E 32 St & Park Ave,40.745712,-73.981948,491,E 24 St & Park Ave S,40.740964,-73.986022,21079,Subscriber,1990.0,1,2015-03-01 00:16:00,25.0,25.0,NaN,Manhattan
29,730,3/1/2015 0:17,3/1/2015 0:29,164,E 47 St & 2 Ave,40.753231,-73.970325,2017,E 43 St & 2 Ave,40.750224,-73.971214,17413,Subscriber,1954.0,1,2015-03-01 00:17:00,61.0,61.0,NaN,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341796,1255,3/31/2015 23:50,4/1/2015 0:11,485,W 37 St & 5 Ave,40.750380,-73.983390,151,Cleveland Pl & Spring St,40.721816,-73.997203,20823,Subscriber,1961.0,1,2015-03-31 23:50:00,54.0,54.0,NaN,NaN
341797,445,3/31/2015 23:50,3/31/2015 23:58,492,W 33 St & 7 Ave,40.750200,-73.990931,167,E 39 St & 3 Ave,40.748901,-73.976049,14591,Subscriber,1957.0,1,2015-03-31 23:50:00,58.0,58.0,NaN,NaN
341798,576,3/31/2015 23:50,4/1/2015 0:00,504,1 Ave & E 15 St,40.732219,-73.981656,301,E 2 St & Avenue B,40.722174,-73.983688,15655,Subscriber,1988.0,1,2015-03-31 23:50:00,27.0,27.0,NaN,NaN
341799,330,3/31/2015 23:51,3/31/2015 23:56,545,E 23 St & 1 Ave,40.736502,-73.978095,402,Broadway & E 22 St,40.740343,-73.989551,21413,Subscriber,1987.0,1,2015-03-31 23:51:00,28.0,28.0,NaN,NaN
341800,337,3/31/2015 23:52,3/31/2015 23:57,345,W 13 St & 6 Ave,40.736494,-73.997044,405,Washington St & Gansevoort St,40.739323,-74.008119,16340,Subscriber,1976.0,1,2015-03-31 23:52:00,39.0,39.0,NaN,NaN
341801,263,3/31/2015 23:52,3/31/2015 23:56,250,Lafayette St & Jersey St,40.724561,-73.995653,355,Bayard St & Baxter St,40.716021,-73.999744,18341,Subscriber,1987.0,1,2015-03-31 23:52:00,28.0,28.0,NaN,NaN
341802,155,3/31/2015 23:52,3/31/2015 23:55,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,460,S 4 St & Wythe Ave,40.712859,-73.965903,14721,Subscriber,1976.0,1,2015-03-31 23:52:00,39.0,39.0,NaN,NaN
341803,267,3/31/2015 23:53,3/31/2015 23:57,482,W 15 St & 7 Ave,40.739355,-73.999318,496,E 16 St & 5 Ave,40.737262,-73.992390,17676,Subscriber,1963.0,1,2015-03-31 23:53:00,52.0,52.0,NaN,NaN
341804,909,3/31/2015 23:53,4/1/2015 0:08,462,W 22 St & 10 Ave,40.746920,-74.004519,482,W 15 St & 7 Ave,40.739355,-73.999318,17687,Subscriber,1988.0,1,2015-03-31 23:53:00,27.0,27.0,NaN,NaN
341805,232,3/31/2015 23:53,3/31/2015 23:57,252,MacDougal St & Washington Sq,40.732264,-73.998522,247,Perry St & Bleecker St,40.735354,-74.004831,16575,Subscriber,1979.0,2,2015-03-31 23:53:00,36.0,NaN,36.0,NaN
341806,215,3/31/2015 23:53,3/31/2015 23:57,252,MacDougal St & Washington Sq,40.732264,-73.998522,247,Perry St & Bleecker St,40.735354,-74.004831,18569,Subscriber,1976.0,1,2015-03-31 23:53:00,39.0,39.0,NaN,NaN
341807,490,3/31/2015 23:54,4/1/2015 0:02,368,Carmine St & 6 Ave,40.730386,-74.002150,301,E 2 St & Avenue B,40.722174,-73.983688,21674,Subscriber,1984.0,1,2015-03-31 23:54:00,31.0,31.0,NaN,NaN
341808,2118,3/31/2015 23:54,4/1/2015 0:29,401,Allen St & Rivington St,40.720196,-73.989978,401,Allen St & Rivington St,40.720196,-73.989978,21257,Subscriber,1973.0,2,2015-03-31 23:54:00,42.0,NaN,42.0,NaN
341809,1016,3/31/2015 23:54,4/1/2015 0:11,457,Broadway & W 58 St,40.766953,-73.981693,284,Greenwich Ave & 8 Ave,40.739017,-74.002638,16357,Subscriber,1964.0,1,2015-03-31 23:54:00,51.0,51.0,NaN,NaN
341810,269,3/31/2015 23:54,3/31/2015 23:59,347,W Houston St & Hudson St,40.728739,-74.007488,248,Laight St & Hudson St,40.721854,-74.007718,15263,Subscriber,1962.0,1,2015-03-31 23:54:00,53.0,53.0,NaN,NaN
341811,443,3/31/2015 23:55,4/1/2015 0:02,379,W 31 St & 7 Ave,40.749156,-73.991600,458,11 Ave & W 27 St,40.751396,-74.005226,20176,Subscriber,1954.0,1,2015-03-31 23:55:00,61.0,61.0,NaN,NaN
341812,380,3/31/2015 23:55,4/1/2015 0:02,466,W 25 St & 6 Ave,40.743954,-73.991449,297,E 15 St & 3 Ave,40.734232,-73.986923,19288,Subscriber,1990.0,1,2015-03-31 23:55:00,25.0,25.0,NaN,NaN
341813,533,3/31/2015 23:56,4/1/2015 0:04,492,W 33 St & 7 Ave,40.750200,-73.990931,489,10 Ave & W 28 St,40.750664,-74.001768,19958,Subscriber,1982.0,2,2015-03-31 23:56:00,33.0,NaN,33.0,NaN
341814,809,3/31/2015 23:56,4/1/2015 0:09,152,Warren St & Church St,40.714740,-74.009106,261,Johnson St & Gold St,40.694749,-73.983625,19221,Subscriber,1984.0,1,2015-03-31 23:56:00,31.0,31.0,NaN,NaN
341815,275,3/31/2015 23:57,4/1/2015 0:02,293,Lafayette St & E 8 St,40.730287,-73.990765,503,E 20 St & Park Ave,40.738274,-73.987520,17672,Subscriber,1971.0,1,2015-03-31 23:57:00,44.0,44.0,NaN,NaN
341816,289,3/31/2015 23:58,4/1/2015 0:03,529,W 42 St & 8 Ave,40.757570,-73.990985,478,11 Ave & W 41 St,40.760301,-73.998842,17591,Subscriber,1988.0,1,2015-03-31 23:58:00,27.0,27.0,NaN,NaN
341817,231,3/31/2015 23:58,4/1/2015 0:02,280,E 10 St & 5 Ave,40.733320,-73.995101,237,E 11 St & 2 Ave,40.730473,-73.986724,18291,Subscriber,1964.0,1,2015-03-31 23:58:00,51.0,51.0,NaN,NaN
341818,517,3/31/2015 23:58,4/1/2015 0:07,536,1 Ave & E 30 St,40.741444,-73.975361,491,E 24 St & Park Ave S,40.740964,-73.986022,16233,Subscriber,1963.0,1,2015-03-31 23:58:00,52.0,52.0,NaN,NaN
341819,370,3/31/2015 23:58,4/1/2015 0:04,465,Broadway & W 41 St,40.755136,-73.986580,160,E 37 St & Lexington Ave,40.748238,-73.978311,20662,Subscriber,1985.0,1,2015-03-31 23:58:00,30.0,30.0,NaN,NaN
341820,480,3/31/2015 23:58,4/1/2015 0:06,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,313,Washington Ave & Park Ave,40.696102,-73.967510,15923,Subscriber,1989.0,1,2015-03-31 23:58:00,26.0,26.0,NaN,NaN
341821,536,3/31/2015 23:58,4/1/2015 0:07,324,DeKalb Ave & Hudson Ave,40.689888,-73.981013,421,Clermont Ave & Park Ave,40.695734,-73.971297,19615,Subscriber,1985.0,1,2015-03-31 23:58:00,30.0,30.0,NaN,NaN
341822,1030,3/31/2015 23:59,4/1/2015 0:16,495,W 47 St & 10 Ave,40.762699,-73.993012,404,9 Ave & W 14 St,40.740583,-74.005509,15086,Subscriber,1978.0,1,2015-03-31 23:59:00,37.0,37.0,NaN,NaN
341823,171,3/31/2015 23:59,4/1/2015 0:02,450,W 49 St & 8 Ave,40.762272,-73.987882,479,9 Ave & W 45 St,40.760193,-73.991255,18943,Subscriber,1986.0,1,2015-03-31 23:59:00,29.0,29.0,NaN,NaN
341824,616,3/31/2015 23:59,4/1/2015 0:09,455,1 Ave & E 44 St,40.750020,-73.969053,477,W 41 St & 8 Ave,40.756405,-73.990026,21364,Subscriber,1970.0,1,2015-03-31 23:59:00,45.0,45.0,NaN,NaN
341825,227,3/31/2015 23:55,3/31/2015 23:59,477,W 41 St & 8 Ave,40.756405,-73.990026,478,11 Ave & W 41 St,40.760301,-73.998842,16020,Subscriber,1998.0,1,2015-03-31 23:55:00,17.0,17.0,NaN,NaN

In [87]:
len(df.borough)

341826

In [88]:
df['age_manhattan'] = 2015 - df['birth year'][(df['usertype'] == 'Subscriber')][(df['borough'] == 'Manhattan')]

In [90]:
df['age_manhattan'].dropna(inplace= True)

#### KS Test to Manhattan age distribution (Normal and Poisson)

In [91]:
scipy.stats.kstest(df['age_manhattan'], 'norm', args=(df.age_manhattan.mean(), df.age_manhattan.std()))

KstestResult(statistic=0.10936608089452893, pvalue=0.0)

- Null Hypothesis: the two distributions are identical (the distribution is normal)
- As the p-value (0.00) is < than the desired significance level (let's use 0.05), we can reject the Null Hypothesis. So the age of Citibike customers are not distributed as a normal distribution.

In [95]:
scipy.stats.kstest(df['age_manhattan'], 'poisson', args=(df.age_manhattan.mean(), df.age_manhattan.std()))

KstestResult(statistic=0.5519779740434767, pvalue=0.0)

- Null Hypothesis: the two distributions are identical (the distribution is poisson)
-  As the p-value (0.00) is < than the desired significance level (let's use 0.05), we can reject the Null Hypothesis. So the age of Citibike customers are not distributed as a poisson distribution.

#### AD Test to Manhattan age distribution (Normal)

In [94]:
scipy.stats.anderson(df['age_manhattan'], 'norm')

AndersonResult(statistic=30.596454352118144, critical_values=array([ 0.575,  0.655,  0.786,  0.916,  1.09 ]), significance_level=array([ 15. ,  10. ,   5. ,   2.5,   1. ]))

- null hypothesis: a sample is drawn from a population that follows a particular distribution (in this case, normal)
- As we see, Statistic >> 0.786 (critical value for significance 0.05), so we reject the null hypothesis, i.e. sample is not drawn from a population that follows normal distribution.